body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.804359243697479) 50%, rgba(0,0,0,1) 100%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container .conteudo .imagem {
    max-width: 500px;
    height: 300px;
}

.container .conteudo .titulo {
    font-size: 2.4rem;
    color: #FFFF;
}

.container .conteudo .sobre {
    width: 500px;
    max-height: 200px;
    overflow-y: scroll;
    color: #FFFF;
    font-size: 2rem;
    text-align: justify;
    padding-right: 10px;
}

.container .conteudo .btn-saiba-mais {
    background-color: #FEE018;
    color: #FFFF;
    font-size: 1.6rem;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.container .conteudo .btn-saiba-mais:hover {
    transform: scale(1.2);
}